<br><br><h1 class="shop-name">BaD(b)Ass Music</h1>

<picture>
    <source srcset="/public/images/shop_music_notes.jpg">
      <img src="/public/images/shop_music_notes.png" alt="Image of music notes">
  </picture>

<br><br><br><h1>Shop Inventory</h1><br><br>

<h2><a href="/albums">View all stock</a></h2>
<h2><a href="/artists">View/add artists</a></h2>
<h2><a href="/select_artist">Add album</a></h2>
