<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head><br>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <meta charset="utf-8">
    <title>inventory</title>
  </head>
  <body>
    <div id="header">
    <a href="/albums">All Stock</a>
    <a href="/artists">Artists</a>
    <a href="/">Home</a>
    </div>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
