<h1>Edit <%= @album.title%></h1>

<form action="/albums/<%= @album.id%>" method="post" >
  <input type="hidden" name="_method" value="put">
<label>
Edit album:
</label>
<label>
Title:
</label>
<input name="title" type="text">
<label>
Buying cost:
</label>
<input name="buying_cost" type="text">
<label>
Price:
</label>
<input name="price" type="text">
<input name="artist_id" type="hidden" value ="<%=@album.artist_id%>">
<input type="submit">
</form>
